.dataframe-column {
    background: 'red';
    flex: 1;
}

.dataframe-container {
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    max-width: 100%;
    width: 100%;
}

.dataframe-content {
    display: flex;
    flex-direction: row;
}

.dataframe-footer {
    border-top: 1px solid var(--vscode-editorWidget-border);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4px 8px;
}
