__pycache__
!build/
!src/test/pythonEnvironments/**/*.*
!yarn.lock
.DS_Store
.eslintcache
.github_token
.huskyrc.json
.nyc_output
.pytest_cache
.python-version
.qlty/cache
.qlty/logs
.qlty/out
.qlty/plugin_cachedir
.qlty/results
.vs/
.vscode-test
.vscode-test-web
*.exe
*.i18n.json
*.nls.*.json
*.noseids
*.pyc
*.vsix
*.xlf
**/.mypy_cache/**
**/.venv*/
**/.vscode test/**
**/.vscode-smoke/**
**/.vscode-test/**
**/.vscode/.ropeproject/**
**/*.esbuild.meta.json
**/node_modules
**/testFiles/**/.cache/**
# Compilation of less to css
# Esbuild files
# Qlty cache directories
# translation files
bin/**
coverage/
cucumber-report.json
debug_coverage*/**
debug*.log
debugpy*.log
dist
l10n/
languageServer.*/**
languageServer/**
log.log
logs/**
nodeLanguageServer.*/**
nodeLanguageServer/**
npm-debug.log
obj/**
out
port.txt
precommit.hook
pydevd*.log
pythonFiles/lib/**
src/test/datascience/.venv*
src/test/datascience/temp/**
src/test/datascience/tmp/**
src/webviews/webview-side/interactive-common/variableExplorerGrid.css
src/webviews/webview-side/interactive-common/variableExplorerGrid.css.map
src/webviews/webview-side/react-common/seti/seti.css
src/webviews/webview-side/react-common/seti/seti.css.map
telemetry.json
temp
test-results*.xml
testresults.json
tmp
vscode.d.ts
vscode.proposed.*.d.ts
xunit-test-results.xml
